

<div>
  <div class = "screen">
    {{x}}
    <p>{{b}}</p>
  </div>
  <div class = "screen1">
    <button class = "screen0" (click) = "display('%')">%</button>
    <button class = "screen0"(click) = "CE()">CE</button>
    <button class = "screen0"(click) = "CE()">C</button>
    <button class = "screen0"(click) = "delete()">DEL</button>
  </div>
  <div class = "screen1">
    <button class = "screen0"(click) = "display('1/x')">1/x</button>
    <button class = "screen0"(click) = "display('x²')">x²</button>
    <button class = "screen0"(click) = "display('√x')">√x</button>
    <button class = "screen0"(click) = "display('÷')">÷</button>
  </div>
  <div class = "screen1">
    <button class = "screen0"(click) = "display('7')">7</button>
    <button class = "screen0"(click) = "display('8')">8</button>
    <button class = "screen0"(click) = "display('9')">9</button>
    <button class = "screen0"(click) = "display('×')">×</button>
  </div>
  <div class = "screen1">
    <button class = "screen0"(click) = "display('4')">4</button>
    <button class = "screen0"(click) = "display('5')">5</button>
    <button class = "screen0"(click) = "display('6')">6</button>
    <button class = "screen0"(click) = "display('-')">-</button>
  </div>
  <div class = "screen1">
    <button class = "screen0"(click) = "display('1')">1</button>
    <button class = "screen0"(click) = "display('2')">2</button>
    <button class = "screen0"(click) = "display('3')">3</button>
    <button class = "screen0"(click) = "display('+')">+</button>
  </div>
  <div class = "screen1">
    <button class = "screen0"(click) = "display('+/-')">+/-</button>
    <button class = "screen0"(click) = "display('0')">0</button>
    <button class = "screen0"(click) = "display('.')">.</button>
    <button class = "screen0"(click) = "sending()">=</button>
  </div>
  <!-- <br>
  <h1 style="margin: auto;">{{b}}</h1> -->
  
</div>